.btn-airon {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    border: none;
    line-height: 48px;
    height: 48px;
    
    i {
        font-size: 1.4rem;
        line-height: inherit;
        color: inherit;
        
        &.left {
            float: left;
            margin-right: 6px;
        }
    }
}

.airon-icon {
    display: flex;
    flex-direction: column;

    i {
        margin-bottom: 8px;
    }

    text-align: center;
    padding: 10px;
    max-width: 115px;
    min-width: 80px;
}

.btn-circle {
    background-color: #0398C6;
    border-radius: 23px;
    padding: 10px;
    padding: 0 22px;
    // text-transform: uppercase;
    color: #fff;
    font-size: 1.07rem;
}

.btn-shadown {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}


nav.nav-bar {
    display: flex;
    flex-direction: row;

    .space {
        flex: 1;
    }
}