.push {
    margin-left: auto;
}

.auth {
    &-wrapper {
        background: #fff;
        border-radius: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        display: block;
        margin: 0 auto;
        min-height: 0;
        width: 450px;
    }

    &-logo {
        svg {
            display: block;
        }
    }

    &-pad {
        padding: 48px 40px 36px;
    }

    &-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin: 0;

        &-sub {
            font-size: 18px;
            font-weight: 400;
        }

        &-info {
            font-size: 12px;
            color: #757575;
            margin-bottom: 25px;
        }
    }

    &-btn {
        min-height: 240px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-link {
        margin-bottom: 40px;
        display: block;
    }

    &-bottom {
        display: flex;
        justify-content: flex-end;

        a {
            padding-right: 30px;
            font-size: 12px;
            color: #757575;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.gcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 261px);
}

.footer-bot {
    position: absolute;
    // right: 0;
    // left: 0;
    bottom: 0;
}

.btn-nav {
    color: #095f79;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    white-space: nowrap;
    position: relative;
    min-height: 2.75rem;
}

.btn-airon {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    border: none;
    line-height: 48px;
    height: 48px;
    
    i {
        font-size: 1.4rem;
        line-height: inherit;
        color: inherit;
        
        &.left {
            float: left;
            margin-right: 6px;
        }
    }

    &-menu {
        i {
            vertical-align: middle;
        }
    }
}

.airon-text-center {
    text-align: center;
    text-align: center;
}

.navbar-right {
    float: right;
}

.airon-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    i {
        margin-bottom: 8px;
    }

    text-align: center;
    padding: 10px;
    max-width: 115px;
    min-width: 80px;
}

.btn-circle {
    background-color: #0398C6;
    border-radius: 23px;
    padding: 10px;
    padding: 0 22px;
    // text-transform: uppercase;
    color: #fff;
    font-size: 1.07rem;
}

.btn-cursor {
    cursor: pointer;
}

.btn-shadown {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}


nav.nav-bar {
    display: flex;
    flex-direction: row;

    .space {
        flex: 1;
    }
}

.clearfix {
    clear: both;
}

.airon-fix-marge {
    margin-left: 2px !important;
}

.airon-modal-bot {
    padding: 12px;
}

.airon-fix-btn-100 {
    width: 100%;
}

.modal-airon {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.airon-dropdown-options {
    position: absolute;
    top: 50px;
    right: 123px;
}

.airon-dropdown-row {
    display: flex;
    flex-direction: column;
}

.airon-dropdown {
    position: absolute;
    top: 50px;

    &-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        &-b {
            display: flex;
            flex-direction: column;
            cursor: pointer;

            i {
                margin-bottom: 8px;
            }

            text-align: center;
            padding: 10px;
            width: 100px;
        }
    }

    &-block {
        display: flex;
        flex-direction: row;
        padding: 18px;
        overflow: hidden;
    }
}

.dropdown-back {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.12);
    z-index: 100;
}

/** BLOCK STYLE **/

.wallet-block {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 24px;
    display: flex;
    flex-direction: row;

    span {
        display: block;
    }

    .wallet {
        &-group {
            display: flex;
            flex-direction: row;
            padding: 6px;
            border-bottom: 1px solid transparent;

            &-select {
                background-color: lighten(#0398C6, 40%);
            }

            &:hover {
                border-bottom: 1px solid #0398C6;
                cursor: pointer;
            }
        }

        &-count {
            width: 200px;
        }

        &-space {
            flex: 1;
        }

        &-arrow {
            cursor: pointer;
            flex: 0;
        }

        &-name {
            text-align: left;
            width: 10px;
        }

        &-addres {
            font-size: 18px;
            margin-bottom: 24px;
        }

        &-content {
            flex: 1;
        }
    
        &-title {
            font-size: 24px;
        }
    
        &-eth {
            font-size: 20px;
            font-weight: 600;
        }
    }
}