.wallet {
  &-block {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 24px;
    display: flex;
    flex-direction: row;

    border: 1px solid #000;

    &:hover {
      cursor: pointer;
    }
  }

  &-no {
    text-align: center;
    padding: 25px;
    margin-top: 50px;
  }

  &-group {
    display: flex;
    flex-direction: row;

    &-select {
      background-color: lighten(#0398c6, 40%);
    }
  }

  &-count {
    width: 330px;
  }

  &-space {
    flex: 1;
  }

  &-arrow {
    cursor: pointer;
    flex: 0;
  }

  &-name {
    text-align: left;
  }

  &-address {
    font-size: 18px;
    margin-bottom: 24px;
  }

  &-content {
    flex: 1;
  }

  &-title {
    font-size: 24px;
  }

  &-eth {
    font-size: 20px;
    font-weight: 600;
  }

  &-scroll {
    overflow-x: scroll;
    height: 600px;

    border: 1px solid #000;
    padding: 0 8px;

    .active {
      background-color: lighten(#0398c6, 30%);
    }
  }

  &-box {
  
  }
}