<!DOCTYPE html>
<html lang="en" ng-app="mewApp">

<head>
    <title>Airon.io</title>
    <base href="/">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="images/fav/favicon.ico" rel="shortcut icon">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/etherwallet-master.min.css">

    @@include('../includes/head.html')

    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script type="text/javascript" src="js/etherwallet-static.min.js"></script>
    <script type="text/javascript" src="js/etherwallet-master.js"></script>
</head>

<body ng-controller="mainCtrl">

    <section ng-if="doneLoading">
        @@include( '../includes/header.html', { "site": "mew" } )

        <style>.fix { min-height: calc(100vh - 261px); }</style>

        <section class="container" ng-controller='viewCtrl' ng-class="{'gcenter fix': !statusLogin}">

            <section ui-view></section>

            @@include('../includes/alerts.tpl')

        </section>

        @@include( '../includes/footer.tpl', { "site": "mew" } )
    </section>

    <section class="loading-wrap" ng-if="!doneLoading">
        <h1> Loading... </h1>
    </section>

</body>

</html>