<!DOCTYPE html>
<html lang="en" ng-app="mewApp">

<head>
  @@include('../includes/head.html')
</head>

<body ng-controller="mainCtrl">

  <main ng-if="doneLoading">
    @@include( '../includes/header.html', { "site": "mew" } )

    <section class="container" style="min-height: calc(100% - 200px)" ng-class="{'gcenter': !statusLogin}" ng-controller='viewCtrl'>

      <div class="tab-content">

        <section ui-view></section>

      </div>


      @@include('../includes/alerts.tpl')


    </section>

    @@include( '../includes/footer.tpl', { "site": "mew" } )
  </main>

  <section class="loading-wrap" ng-if="!doneLoading">
    <div class="loading">
      <h1> Loading... </h1>
  </section>

</body>

</html>