<section class="modal-content">

    <div class="modal-body modal-airon">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close Dialog">&times;</button>

        <h2 class="modal-title text-center">
            <span>Send Token</span>
        </h2>

        <!-- Raw TX -->
        <div class="form-group">
            <h6 translate="SEND_raw">
                Raw Transaction
            </h6>
            <textarea class="form-control" rows="4" readonly>{{rawTx}}</textarea>
        </div>
        <!-- Singed TX -->
        <div class="form-group">
            <h6 translate="SEND_signed">
                Signed Transaction
            </h6>
            <textarea class="form-control" rows="4" readonly>{{signedTx}}</textarea>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$parent.$parent.txState = 1">
            Back
        </button>

        <button class="btn btn-primary" ng-click="parseSignedTx(signedTx)">
            Sign Transaction
        </button>
    </div>
</section>