<main ng-if="statusLogin">
    <article class="row">
        <article class="row block">
            <section class="accordion">
                <nav class="nav-bar">
                    <div class="btn-airon btn-circle btn-shadown" style="margin-top: 14px" ng-click="showAddMenu()">
                        <i class="material-icons left">add</i> Create
                    </div>

                    <div class="dropdown-back" ng-show="dropdownWalletMenu || dropdownOptionsMenu" ng-click="hideMenu()"></div>

                    <div class="airon-dropdown">
                        <div class="dropdown-menu dropdown-menu-left airon-dropdown-block" ng-show="dropdownWalletMenu">
                            <div class="airon-dropdown-icon-b" ng-click="addWalletModal.open()">
                                <div class="airon-dropdown-icon">
                                    <i class="material-icons">add_circle_outline</i>
                                    <i class="material-icons">account_balance_wallet</i>
                                </div>
                                <span>Add Wallet for View</span>
                            </div>
                            <div class="airon-dropdown-icon-b" ui-sref="generate-wallet">
                                <div class="airon-dropdown-icon">
                                    <i class="material-icons">fiber_new</i>
                                    <i class="material-icons">account_balance_wallet</i>
                                </div>
                                <span>Create a New Wallet</span>
                            </div>
                        </div>
                    </div>

                    <div class="space"></div>

                    <div class="airon-icon" ng-click="decryptModalOpen()">
                        <i class="material-icons dp48">payment</i>
                        <span>Payment</span>
                    </div>

                    <div class="airon-icon">
                        <i class="material-icons dp48">filter_none</i>
                        <span>Copy address</span>
                    </div>

                    <div class="airon-icon">
                        <i class="material-icons dp48">refresh</i>
                        <span>Refresh</span>
                    </div>

                    <div class="airon-icon" ng-click="goEx()">
                        <i class="material-icons dp48">view_headline</i>
                        <span>History</span>
                    </div>

                    <div class="airon-icon">
                        <i class="material-icons dp48">attach_money</i>
                        <span>Equivalent</span>
                    </div>

                    <div class="airon-icon" ng-click="showOption()">
                        <i class="material-icons dp48">more_vert</i>
                        <span>Options</span>
                    </div>


                </nav>

                <div class="airon-dropdown-options">
                    <div class="dropdown-menu dropdown-menu-left airon-dropdown-row" ng-show="dropdownOptionsMenu">
                        <div class="airon-dropdown-icon-b" ng-click="renameWalletModal.open()">
                            <span>Rename wallet</span>
                        </div>
                        <div class="airon-dropdown-icon-b" ng-click="delWallet()">
                            <span>Delete wallet</span>
                        </div>
                    </div>
                </div>

                <div class="wallet-scroll">
                    <div class="wallet-block" ng-repeat="wallet in wallets">
                        <div class="wallet-content">
                            <span class="wallet-title">{{ wallet.name }}</span>
                            <span class="wallet-addres">{{ wallet.addres }}</span>

                            <span class="wallet-group wallet-eth" ng-class="{'wallet-group-select': wallet.select}">
                                <span class="wallet-count" ng-click="selectMoney(wallet, wallet)">{{ wallet.eth }}</span>
                                <span class="wallet-name" ng-click="selectMoney(wallet, wallet)">ETH</span>
                                <span class="wallet-space" ng-click="selectMoney(wallet, wallet)"></span>
                                <i class="material-icons" ng-click="toggleStar(wallet)">{{ wallet.star ? 'star' : 'star_border' }}</i>
                            </span>

                            <div class="wallet-token" ng-repeat="token in wallet.tokens" ng-if="token.star">
                                <span class="wallet-group" ng-class="{'wallet-group-select': token.select}">
                                    <span class="wallet-count" ng-click="selectMoney(token, wallet)">{{ token.count }}</span>
                                    <span class="wallet-name" ng-click="selectMoney(token, wallet)">{{ token.name }}</span>
                                    <span class="wallet-space" ng-click="selectMoney(token, wallet)"></span>
                                    <i class="material-icons" ng-click="toggleStar(token)">{{ token.star ? 'star' : 'star_border' }}</i>
                                </span>
                            </div>

                            <div ng-if="!wallet.hide">
                                <div class="wallet-token" ng-repeat="token in wallet.tokens" ng-if="!token.star">
                                    <span class="wallet-group" ng-class="{'wallet-group-select': token.select}">
                                        <span class="wallet-count" ng-click="selectMoney(token, wallet)">{{ token.count }}</span>
                                        <span class="wallet-name" ng-click="selectMoney(token, wallet)">{{ token.name }}</span>
                                        <span class="wallet-space" ng-click="selectMoney(token, wallet)"></span>
                                        <i class="material-icons" ng-click="toggleStar(token)">{{ token.star ? 'star' : 'star_border' }}</i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <i class="wallet-arrow material-icons" ng-click="toggleWallet(wallet)">{{wallet.hide ? 'arrow_drop_down' : 'arrow_drop_up'}}</i>
                    </div>
                </div>
            </section>
        </article>
    </article>
</main>

<!-- Modal Tx -->
<article class="modal fade" id="decryptModal" tabindex="-1">
    <!-- State select decript -->
    <main ng-if="txState == 0">
        <section class="modal-dialog">
            <section class="modal-content">

                <div class="modal-body modal-airon">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close Dialog">&times;</button>

                    <h2 class="modal-title text-center">
                        <span>Confirmation of transaction</span>
                    </h2>

                    <section class="col-md-4 col-sm-6">
                        <h4 translate="decrypt_Access">
                            How would you like to access your wallet?
                        </h4>

                        <!-- Private -->
                        <label aria-flowto="aria8" class="radio">
                            <input aria-flowto="aria8" class="airon-fix-marge" aria-label="private key" type="radio" ng-model="walletType" value="pasteprivkey"
                            />
                            <span translate="x_PrivKey2">
                                Private Key
                            </span>
                            <a href="https://myetherwallet.github.io/knowledge-base/private-keys-passwords/difference-beween-private-key-and-keystore-file.html"
                                target="_blank" rel="noopener noreferrer">
                                <img src="images/icon-help-3.svg" width="16px" height="16px" style="margin: 0 5px 5px">
                            </a>
                        </label>
                    </section>

                    <section class="col-md-8 col-sm-6">
                        <!--  Private Key -->
                        <div id="selectedTypeKey" ng-if="walletType=='pasteprivkey'">
                            <h4 translate="ADD_Radio_3">
                                Paste your private key:
                            </h4>
                            <h5>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                                    <path fill="#d9534f" d="M256 0C114.844 0 0 114.844 0 256s114.844 256 256 256 256-114.844 256-256S397.156 0 256 0zm102.625 313.375c12.5 12.492 12.5 32.758 0 45.25C352.383 364.875 344.188 368 336 368s-16.383-3.125-22.625-9.375L256 301.25l-57.375 57.375C192.383 364.875 184.188 368 176 368s-16.383-3.125-22.625-9.375c-12.5-12.492-12.5-32.758 0-45.25L210.75 256l-57.375-57.375c-12.5-12.492-12.5-32.758 0-45.25 12.484-12.5 32.766-12.5 45.25 0L256 210.75l57.375-57.375c12.484-12.5 32.766-12.5 45.25 0 12.5 12.492 12.5 32.758 0 45.25L301.25 256l57.375 57.375z"
                                    />
                                </svg>
                                This is
                                <u>not</u> a recommended way to access your wallet.
                            </h5>
                            <div class="form-group">
                                Entering your private key on a website dangerous. If our website is compromised or you accidentally visit a different website,
                                your funds will be stolen. Please consider:
                            </div>
                            <ul>
                                <li>
                                    <a href="https://myetherwallet.github.io/knowledge-base/migration/moving-from-private-key-to-metamask.html" target="_blank"
                                        rel="noopener noreferrer">
                                        MetaMask
                                    </a>
                                    or
                                    <a href="https://myetherwallet.github.io/knowledge-base/hardware-wallets/hardware-wallet-recommendations.html" target="_blank"
                                        rel="noopener noreferrer">
                                        A Hardware Wallet
                                    </a>
                                    or
                                    <a href="https://myetherwallet.github.io/knowledge-base/offline/running-myetherwallet-locally.html" target="_blank" rel="noopener noreferrer">
                                        Running Airon.io Offline &amp; Locally
                                    </a>
                                </li>
                                <li>
                                    <a href="https://myetherwallet.github.io/knowledge-base/security/securing-your-ethereum.html" target="_blank" rel="noopener noreferrer">
                                        Learning How to Protect Yourself and Your Funds
                                    </a>
                                </li>
                            </ul>
                            <div class="form-group">
                                If you must, please
                                <u>double-check the URL &amp; SSL cert</u>. It should say
                                <code>https://www.airon.io</code> &amp;
                                <code>AIRON.IO</code> in your URL bar.
                            </div>
                        </div>
                        <!-- / Private Key -->
                    </section>

                    <section class="airon-modal-bot clearfix">
                        <!-- Private Key -->
                        <div ng-if="walletType=='pasteprivkey'">
                            <div class="form-group">
                                <div class="input-group">
                                    <input id="aria6" class="form-control" ng-attr-type="{{ hidePK ? 'password' : 'text' }}" ng-change="onPrivKeyChange()" ng-class="Validator.isValidPrivKey(modelPK.manualprivkey.length) ? 'is-valid' : 'is-invalid'"
                                        ng-keyup="$event.keyCode == 13 && decryptWallet()" ng-model="modelPK.manualprivkey" placeholder="{{ 'x_PrivKey2' | translate }}"></input>
                                    <span role="button" class="input-group-addon eye" ng-click="hidePK = !hidePK"></span>
                                </div>
                            </div>

                            <div class="form-group" ng-if="requirePPass">
                                <p translate="ADD_Label_3">
                                    Your file is encrypted. Please enter the password:
                                </p>
                                <input class="form-control" ng-change="onPrivKeyPassChange()" ng-class="Validator.isPasswordLenValid(modelPK.privPassword,0) ? 'is-valid' : 'is-invalid'"
                                    ng-keyup="$event.keyCode == 13 && decryptWallet()" ng-model="modelPK.privPassword" placeholder="{{ 'x_Password' | translate }}"
                                    type="password" />
                            </div>
                        </div>
                        <!-- / Private Key -->
                    </section>
                </div>

                <div class="modal-footer">
                    <button ng-disabled="!showPDecrypt" class="btn btn-primary" ng-click="decryptWallet()">
                        UNLOCK
                    </button>
                </div>
            </section>
        </section>
    </main>

    <!-- State 2 -->
    <main ng-if="txState == 1">
        <section class="modal-dialog">
            <section class="modal-content">

                <div class="modal-body modal-airon">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close Dialog">&times;</button>

                    <h2 class="modal-title text-center">
                        <span>Send Token</span>
                    </h2>

                    <!-- To Address -->
                    <div class="form-group">
                        <address-field placeholder="0x7cB57B5A97eAbe94205C07890BE4c1aD31E486A8" var-name="tx.to"></address-field>
                    </div>

                    <!-- Amount to Send -->
                    <section class="form-group">

                        <div class="col-sm-11">
                            <label translate="SEND_amount">
                                Amount to Send:
                            </label>
                        </div>

                        <div class="col-sm-11">

                            <div class="input-group">

                                <input type="text" class="form-control" placeholder="{{ 'SEND_amount_short' | translate }}" ng-model="tx.value" ng-disabled="tx.readOnly || checkTxReadOnly"
                                    ng-class="Validator.isPositiveNumber(tx.value) ? 'is-valid' : 'is-invalid'" />

                                <div class="input-group-btn">

                                    <a style="min-width: 170px" class="btn btn-default dropdown-toggle" class="dropdown-toggle" ng-click="dropdownAmount = !dropdownAmount"
                                        ng-class="dropdownEnabled ? '' : 'disabled'">
                                        <strong>
                                            {{unitReadable}}
                                            <i class="caret"></i>
                                        </strong>
                                    </a>

                                </div>

                            </div>

                        </div>

                        <!-- Amount to Send - Transfer Entire Balance -->
                        <p class="col-xs-12" ng-hide="tx.readOnly">
                            <a ng-click="transferAllBalance()">
                                <span class="strong" translate="SEND_TransferTotal">
                                    Send Entire Balance
                                </span>
                            </a>
                        </p>

                    </section>

                    <!-- Gas Limit -->
                    <section class="form-group">
                        <div class="col-sm-11">
                            <a href="https://myetherwallet.github.io/knowledge-base/gas/what-is-gas-ethereum.html" target="_blank" rel="noopener noreferrer">
                                <img src="images/icon-help.svg" class="help-icon" />
                                <p class="account-help-text" translate="GAS_LIMIT_Desc"></p>
                            </a>
                            <label translate="TRANS_gas">
                                Gas Limit:
                            </label>
                            <input type="text" class="form-control" placeholder="21000" ng-model="tx.gasLimit" ng-change="gasLimitChanged=true" ng-disabled="tx.readOnly || checkTxReadOnly"
                                ng-class="Validator.isPositiveNumber(tx.gasLimit) ? 'is-valid' : 'is-invalid'" />
                        </div>
                    </section>

                    <!-- Advanced Option Panel -->
                    <a ng-click="showAdvance=true">
                        <p class="strong" translate="TRANS_advanced" style="margin-left: 15px">
                            + Advanced: Add Data
                        </p>
                    </a>
                    <!-- / Advanced Option Panel -->
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="backStage()">
                        Back
                    </button>

                    <button class="btn btn-primary" ng-click="generateTx()">
                        Generate Transaction
                    </button>
                </div>
            </section>
        </section>
    </main>

    <main ng-if="txState == 2">
        <section class="modal-dialog">
            <section class="modal-content">

                <div class="modal-body modal-airon">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close Dialog">&times;</button>

                    <h2 class="modal-title text-center">
                        <span>Send Token</span>
                    </h2>

                    <!-- Raw TX -->
                    <div class="form-group">
                        <h6 translate="SEND_raw">
                            Raw Transaction
                        </h6>
                        <textarea class="form-control" rows="4" readonly>{{rawTx}}</textarea>
                    </div>
                    <!-- Singed TX -->
                    <div class="form-group">
                        <h6 translate="SEND_signed">
                            Signed Transaction
                        </h6>
                        <textarea class="form-control" rows="4" readonly>{{signedTx}}</textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="backStage()">
                        Back
                    </button>

                    <button class="btn btn-primary" ng-click="parseSignedTx(signedTx)">
                        Sign Transaction
                    </button>
                </div>
            </section>
        </section>
    </main>

    <main ng-if="txState == 3">
        <section class="modal-dialog">
            <section class="modal-content">

                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close Dialog">&times;</button>

                    <h2 class="modal-title text-center">
                        <span translate="SENDModal_Content_1">You are about to send</span>...
                    </h2>

                    <table class="table text-center">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="addressIdenticon med" title="Address Indenticon" blockie-address="{{wallet.getAddressString()}}" watch-var="wallet.getAddressString()">
                                    </div>
                                    <p>
                                        <strong ng-show="tx.sendMode=='ether'" class="send-modal__addr">
                                            {{wallet.getChecksumAddressString()}}
                                        </strong>
                                    </p>
                                </td>
                                <td ng-show="tx.sendMode=='ether'" class="mono">
                                    ->
                                    <br />
                                    <h4 class="text-danger">
                                        {{tx.value}} {{unitReadable}}
                                    </h4>
                                </td>
                                <td ng-show="tx.sendMode!=='ether'" class="mono">
                                    ->
                                    <br />
                                    <h4 class="text-primary">
                                        {{tx.value}} {{unitReadable}}
                                    </h4>
                                </td>
                                <td ng-show="tx.sendMode=='ether'">
                                    <div class="addressIdenticon med" title="Address Indenticon" blockie-address="{{tx.to}}" watch-var="tx.to"></div>
                                    <p>
                                        <strong ng-show="tx.sendMode=='ether'" class="send-modal__addr">
                                            {{tx.to}}
                                        </strong>
                                    </p>
                                </td>
                                <td ng-show="tx.sendMode!=='ether'">
                                    <div class="addressIdenticon med" title="Address Indenticon" blockie-address="{{tokenTx.to}}" watch-var="tokenTx.to"></div>
                                    <p>
                                        <strong ng-show="tx.sendMode=='ether'" class="send-modal__addr">
                                            {{tokenTx.to}}
                                        </strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <br />

                    <table class="table small table-condensed table-hover">
                        <tbody>
                            <tr>
                                <td class="small text-right">To Address:</td>
                                <td class="small text-left mono">{{parsedSignedTx.to}}
                                    <br />
                                    <em>
                                        <small>If sending tokens, this should be the token contract address.</small>
                                    </em>
                                </td>
                            </tr>
                            <tr>
                                <td class="small text-right">From Address:</td>
                                <td class="small text-left mono">{{parsedSignedTx.from}}</td>
                            </tr>
                            <tr>
                                <td class="small text-right">Amount to Send:</td>
                                <td class="small text-left mono">{{parsedSignedTx.value}} ETH</td>
                            </tr>
                            <tr>
                                <td class="small text-right">Account Balance:</td>
                                <td class="small text-left mono">{{parsedSignedTx.balance}}</td>
                            </tr>
                            <tr>
                                <td class="small text-right">Coin:</td>
                                <td class="small text-left mono">{{unitReadable}}</td>
                            </tr>
                            <tr>
                                <td class="small text-right">Network:</td>
                                <td class="small text-left mono">{{ajaxReq.type}} by {{ajaxReq.service}}</td>
                            </tr>
                            <tr>
                                <td class="small text-right">Gas Limit:</td>
                                <td class="small text-left mono">{{parsedSignedTx.gasLimit}}</td>
                            </tr>
                            <tr>
                                <td class="small text-right">Gas Price:</td>
                                <td class="small text-left mono">{{parsedSignedTx.gasPrice.gwei}} GWEI
                                    <small>({{parsedSignedTx.gasPrice.eth}} ETH)</small>
                                </td>
                            </tr>
                            <tr>
                                <td class="small text-right">Max TX Fee:</td>
                                <td class="small text-left mono"> {{parsedSignedTx.txFee.eth}} ETH
                                    <small>({{parsedSignedTx.txFee.gwei}} GWEI)</small>
                                </td>
                            </tr>
                            <tr>
                                <td class="small text-right">Nonce:</td>
                                <td class="small text-left mono">{{parsedSignedTx.nonce}}</td>
                            </tr>
                            <tr>
                                <td class="small text-right">Data:</td>
                                <td class="small text-left mono">{{parsedSignedTx.data}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <h4 class="text-center">
                        <span translate="SENDModal_Content_1">You are about to send</span>
                        <strong ng-show="tx.sendMode=='ether'" class="mono">{{tx.value}} {{unitReadable}}</strong>
                        <strong ng-show="tx.sendMode!=='ether'" class="mono">{{tokenTx.value}} {{unitReadable}}</strong>
                        <span translate="SENDModal_Content_2">to address</span>
                        <strong ng-show="tx.sendMode=='ether'" class="mono">{{tx.to}}.</strong>
                        <strong ng-show="tx.sendMode!=='ether'" class="mono">{{tokenTx.to}}</strong>
                    </h4>
                    <p translate="SENDModal_Content_3">
                        Are you sure you want to do this?
                    </p>
                    <br />
                    <button class="btn btn-default" ng-click="backStage()">
                        Back
                    </button>
                    <button class="btn btn-primary" ng-click="sendTx()" translate="SENDModal_Yes">
                        Yes, I am sure! Make transaction.
                    </button>
                </div>

                <p class="small text-center" style="padding: 0px 5px;">
                    <a href="https://myetherwallet.github.io/knowledge-base/transactions/transactions-not-showing-or-pending.html" target="_blank"
                        ref="noopener noreferrer">
                        The network is a bit overloaded. If you're having issues with TXs, please read me.
                    </a>
                </p>
            </section>
        </section>
    </main>
</article>

<!-- Modal Add Wallet -->
<article class="modal fade" id="addWallet" tabindex="-1">
    <section class="modal-dialog">
        <section class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close Dialog">&times;</button>

                <h2 class="modal-title text-center">
                    <span translate="SENDModal_Content_1">Add Wallet</span>
                </h2>

                <div class="add-wallet">
                    <input class="form-control" placeholder="New Wallet Name" ng-model="newWalletName" type="text" ng-class="Validator.isAlphaNumericSpace(newWalletName) && !isExistName(newWalletName) ? 'is-valid' : 'is-invalid'">
                    <input class="form-control" placeholder="0x3f0efedfe0a0cd611f2465fac9a3699f92d6a06613bc3ead4f786856f5c73e9c" ng-model="newWalletAddress"
                        type="text" ng-class="Validator.isValidAddress(newWalletAddress) && !isExistAddress(newWalletAddress)? 'is-valid' : 'is-invalid'">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="addWallet(newWalletName,newWalletAddress)">
                    Save
                </button>
            </div>

        </section>
    </section>
</article>

<article class="modal fade" id="renameWallet" tabindex="-1">
    <section class="modal-dialog">
        <section class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close Dialog">&times;</button>

                <h2 class="modal-title text-center">
                    <span>Rename wallet</span>
                </h2>

                <div class="form-group">
                    <input class="form-control" placeholder="New Wallet Name" ng-model="rename.newWalletName" type="text" ng-class="Validator.isAlphaNumericSpace(newWalletName) ? 'is-valid' : 'is-invalid'">
                </div>
            </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="renameWallet()">
                    Rename
                </button>
            </div>

        </section>
    </section>
</article>